<% provide :title, t(".help_title") %>
<h1> <%= t ".help" %></h1>
<p>
  <%= t ".get_help" %>
  <%= link_to t(".help_section"), Settings.static_pages.rails_help %>.
  <%= t ".to_get_help" %>
  <em> <%= link_to t(".ruby_on"), Settings.static_pages.rails_book %></em>
  <%= t ".book" %> </a>
</p>
